@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    width: 500px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 40px;
    border-radius: 16px;
    color: #fff;
    transition: height .6s ease;
    margin-bottom: 20px; 
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}
.city-name {
    font-size: 50px; 
    font-weight: bold;
    color: #fff; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  

.weather-box img {
    width: 60%;
    margin-bottom: 20px;
}

.weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}

.weather-details {
    position:absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}

.not-found {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
